:root {
    --color-brand-primary:#61b390;
    --color-brand-contrast:#01352c;
    --color-brand-dark-green:#01352c;
    --color-light-green: #bad8b6;
    --color-background: #e1eacd;
    --font-body: 'Segoe Ui', Arial, Helvetica, sans-serif;
}

